body{
    background-color: azure;
}
.container {
    display: flex;
    justify-content: center;
}
button {
    margin: 10px;
    width: 100px;
    padding: 5px;
    font-size: 20px;
    background-color: rgb(40, 42, 77);
    color: white;
}
.country {
    color: brown;
}